html {
  height: 1100px;
  width: 100%;
}

/*Background color*/
body {
  background-color: #f0f7f1;
}

/*Nav bar*/
.header-buttons {
  display:flex;
  justify-content: space-evenly;
  align-content: space-between;
  margin-top: 35px;
  margin-left: 220px;
}

/*Nav bar hover*/
.header-button:hover {
  border-radius: 20px;
  background-color: #dae3db;
  cursor: pointer;
  
}

.header-button {
  display: flex;
  justify-content: flex-end;
  background-color: #f0f7f1;;
  color: #60463b;
  border: none;
  font-family: 'DM Sans', sans-serif;
  font-size: 23px;
  text-decoration: none;
  padding: 20px;
}
.logo {
  height: 85px;
  width: 85px;
  margin-left: 40px;
  margin-top: 27px;
  display: flex;
}

.total-header {
  display: flex;
}
h1 {
  margin-top: 50px;
  color: #40916c;
  font-size: 50px;
  font-family: 'Jakarta Display', sans-serif; 
}

div.latinx-scroll {
  background-color: #D2DCD3;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.latinx-scroll img {
  padding: 10px;
  height:400px;
  width: 300px;
  object-fit: cover;
}

div.black-scroll {
  background-color: #D2DCD3;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.black-scroll img {
  padding: 10px;
  height:400px;
  width: 300px;
  object-fit: cover;
}

div.asian-scroll {
  background-color: #D2DCD3;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.asian-scroll img {
  padding: 10px;
  height:400px;
  width: 300px;
  object-fit: cover;
}

div.lgbtq-scroll {
  background-color: #D2DCD3;
  overflow: auto;
  white-space: nowrap;
  padding: 10px;
}

div.lgbtq-scroll img {
  padding: 10px;
  height:400px;
  width: 300px;
  object-fit: cover;
}

.category {
  font-family: 'DM Sans', sans-serif;
  font-size: 30px;
  color: #60463b;
}